@import "tailwindcss";

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



@theme {
  --font-sans: "Poppins", sans-serif;
  /* replaces default sans */
  --color-primary: #1b5e38;
  --color-secondary: #f7b754;
  --color-tertiary: #223c5f;
}


@layer base {
  html {
    @apply scroll-smooth scroll-p-16;
  }

  body {
    @apply overflow-x-hidden font-sans text-black/80 text-base bg-white;
  }

  .container {
    @apply max-w-7xl w-full mx-auto px-20;
  }

  h1 {
    font-size: clamp(3rem, 6vw, 5rem);
    @apply font-bold;
  }

  h2 {
    font-size: clamp(2rem, 5vw, 2.5rem);
    @apply font-bold;
  }

  h3 {
    font-size: clamp(1.25rem, 4vw, 2rem);
    @apply font-bold;
  }

  h4 {
    font-size: clamp(1rem, 3vw, 1.75rem);
    @apply font-bold;
  }

  h5 {
    @apply text-xl font-semibold;
  }

  h6 {
    @apply text-lg font-semibold;
  }
}

@layer components {

  /* header */
  header {
    @apply bg-white;
  }

  .headerNav ul {
    @apply flex flex-col gap-5 md:gap-20 fixed w-full top-26 text-left items-start overflow-hidden right-0 h-0 opacity-0 duration-300 font-bold
    /* tablet - desktop */
    md:opacity-100 md:flex-row md:items-center md:top-auto md:h-auto md:static md:shadow-none;
  }

  .headerNav ul.open {
    @apply h-fit opacity-100 bg-primary shadow-md w-full top-29.5 py-9 px-4 pb-3 duration-300 text-white font-bold
    /* tablet-desktop */
    md:shadow-none md:px-0 md:pb-0;
  }

  .toggleMenu span {
    @apply inline-block h-1 rounded-xl bg-primary transition-all duration-300 ease-in-out;
  }

  .toggleMenu span:first-child {
    @apply w-12;
  }

  .toggleMenu span:last-child {
    @apply w-7.5;
  }

  .toggleMenu.open span:first-child {
    @apply w-7.5;
  }

  .toggleMenu.open span:last-child {
    @apply w-12;
  }

  .toggleMenu {
    @apply flex flex-col gap-1
    /* tablet-desktop */
    md:hidden;
  }

  .transparent {
    @apply hidden;
  }

  .transparent.open {
    @apply block fixed h-screen w-full backdrop-blur-sm left-0 top-80 duration-300 overflow-y-hidden;
  }

  /* button or anchors */
  .btn {
    @apply inline-block px-5 py-3 rounded-lg font-medium text-center md:w-auto transition-all duration-200 ease-in-out;
  }

  .btn--green {
    @apply bg-primary text-white hover:brightness-110 hover:shadow-lg hover:-translate-y-0.5 active:brightness-95 active:translate-y-0 active:shadow-md;
  }

  .btn2 {
    @apply border-2 border-primary text-primary px-6 py-2 rounded-lg inline-block hover:bg-primary hover:text-white transition;
  }

  .cards img {
    @apply rounded-2xl object-cover h-48 w-full;
  }
}